.markdown-body {
  font-size: 1rem; /* body */
  line-height: 1.8;
  color: #010311;
}

.markdown-body p {
  font-size: 1.3rem;     
  color: #1c0202;       
  margin: 1.2em 0;
}

.markdown-body pre, .markdown-body code {
  font-family: 'Fira Mono', 'Consolas', 'Menlo', monospace;
  background: #f6f8fa;
  padding: 8px;
  border-radius: 4px;
  overflow-x: auto;
}

.markdown-body img {
  display: block;
  margin: 1.5em auto;
  max-width: 100%;
}

.markdown-body li p {
  margin: 0.2em 0;
}

.markdown-body ul,
.markdown-body ol {
  margin: 1em 0;
  padding-left: 1.5em;
}