.my-navbar {
  background-color: #052634;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: transform 0.3s;
  box-shadow: 0 4px 9px rgba(1, 10, 28, 0.131);
}

.my-navbar.show {
  transform: translateY(0);
}

.my-navbar.hide {
  transform: translateY(-100%);
}

.my-navbar a {
  font-weight: 500;
  color: #8DD8FF;
  text-decoration: inherit;
}
.my-navbar a:hover {
  color: #BBFBFF;
}