/* main navbar container styles */
.my-navbar {
  background-color: #052634;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: transform 0.3s;
  box-shadow: 0 4px 9px rgba(1, 10, 28, 0.131);
}

/* show navbar */
.my-navbar.show {
  transform: translateY(0);
}

/* hide navbar */
.my-navbar.hide {
  transform: translateY(-100%);
}

/* navbar link styles */
.my-navbar a {
  font-weight: 500;
  color: #8DD8FF;
  text-decoration: inherit;
}

/* navbar link hover effect */
.my-navbar a:hover {
  color: #BBFBFF;
}