@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #000000; /* black */
  background-color: #f8f5ed; /* Lighter background color */

  padding-top: 4rem; /* NavBar Height */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;  
  line-height: 1.1;
}

h2 {
  font-size: 2.45em;
  line-height: 1.15;
}

h3 {
  font-size: 1.3em;
  line-height: 1.2;
}

body, p {
  font-size: 1em;
}


html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.markdown-body a {
  color: #2563eb;
  text-decoration: underline;
  font-weight: 500;
} /* Underline of links */


.markdown-body {
  font-size: 1rem;
  line-height: 1.8;
  color: #000000;
}

.markdown-body p {
  font-size: 1.3rem;     
  color: #000000;       
  margin: 1.2em 0;
}

.markdown-body img {
  display: block;
  margin: 1.5em auto;
  max-width: 100%;
}


.markdown-body ul,
.markdown-body ol {
  margin: 1em 0;
  padding-left: 1.5em;
}